{% extends "base.twig" %}


{% block body %}


    <h1>{{ current_page.title }}</h1>
    {% if meta.img %}
        <div class="header"><img src="{{ meta.img }}" class="header-img"></div>
    {% endif %}
    {% if meta.video %}
        <iframe width="560" height="315" src="{{ meta.video }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% if meta.video_cap %}<p>{{ meta.video_cap }}</p> {% endif %}

    <div class="dropcap">
        {{ parent() }}
    </div>
{% endblock %}